aiofiles
aiogram
aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
alembic
amqp
annotated-doc
annotated-types
anyio
APScheduler
asyncpg
attrs
bcrypt
beautifulsoup4
billiard
blinker
boto3
botocore
celery
certifi
cffi
chardet
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
cryptography
deep-translator
Deprecated
distro
dnspython
ecdsa
email-validator
et_xmlfile
fastapi
fastapi-cli
Flask
frozenlist
googletrans
greenlet
h11
h2
hpack
hstspreload
httpcore
httptools
httpx
hyperframe
idna
iniconfig
itsdangerous
Jinja2
jiter
jmespath
joblib
kombu
langdetect
limits
loguru
lxml
magic-filter
Mako
markdown-it-py
MarkupSafe
mdurl
multidict
nest-asyncio
nltk
numpy
openai
opencv-python
openpyxl
orjson
packaging
passlib
pdf2image
pillow
pluggy
prompt_toolkit
propcache
psycopg2-binary
pyasn1
pycparser
pydantic
pydantic-settings
pydantic_core
Pygments
PyJWT
pypdf
PyPDF2
pyspellchecker
pyTelegramBotAPI
pytesseract
pytest
pytest-asyncio
python-dateutil
python-docx
python-dotenv
python-http-client
python-jose
python-multipart
python-telegram-bot
pytz
PyYAML
qrcode
redis
regex
requests
resend
rfc3986
rich
rich-toolkit
rsa
ruff
s3transfer
sendgrid
sentry-sdk
shellingham
six
slowapi
sniffio
soupsieve
SQLAlchemy
starlette
tqdm
typer
typing-inspection
typing_extensions
tzdata
tzlocal
ujson
urllib3
uvicorn
vine
watchfiles
wcwidth
websockets
Werkzeug
win32_setctime
wrapt
yarl
deta==0.2.51